# NODEJS NODE_MODULES 제외
RENEWAL(2024)\25NodeJS\node_modules
RENEWAL(2024)\26SCSS_\node_modules

# EXPRESSJS EXCEPTIONAL FILES
RENEWAL(2024)\27ExpressJS\01\node_modules
RENEWAL(2024)\27ExpressJS\02\node_modules
RENEWAL(2024)\27ExpressJS\03\node_modules
RENEWAL(2024)\27ExpressJS\04\node_modules
RENEWAL(2024)\27ExpressJS\05\node_modules
RENEWAL(2024)\27ExpressJS\06\node_modules
RENEWAL(2024)\27ExpressJS\07\node_modules
RENEWAL(2024)\27ExpressJS\99\node_modules

# REACT EXCEPTIONAL FILES
RENEWAL(2024)\27REACT\02APP\01\node_modules
RENEWAL(2024)\27REACT\02APP\02\node_modules
RENEWAL(2024)\27REACT\02APP\03\02_ClassicComponent\node_modules
RENEWAL(2024)\27REACT\02APP\03\01_FunctionalComponent\node_modules
RENEWAL(2024)\27REACT\02APP\04\node_modules
RENEWAL(2024)\27REACT\02APP\05\node_modules
RENEWAL(2024)\27REACT\02APP\06\node_modules
RENEWAL(2024)\27REACT\02APP\07\node_modules
RENEWAL(2024)\27REACT\02APP\08\node_modules
RENEWAL(2024)\27REACT\02APP\09\node_modules
RENEWAL(2024)\27REACT\02APP\10\node_modules
RENEWAL(2024)\27REACT\02APP\11\node_modules
RENEWAL(2024)\27REACT\02APP\12\node_modules

# REACT PROJECT EXCEPTIONAL FILES
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\01\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\02\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\03\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\04\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\05\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\06\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\07\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\08\node_modules
RENEWAL(2024)\27REACT\03PROJECT\02_REACT\SHOPPING\99\node_modules