section{
    
    margin-bottom:20px;
    
    &:nth-child(1){
        border:1px solid;
        min-height : 400px;
    
        display:flex;
        justify-content: center;
        align-items: center;
    }

    &:nth-child(2){
        border:1px solid;
        padding : 10px;
        ul{
            display:grid;
            grid-template-columns: repeat(3,1fr);
            gap:10px;
            li{
                width:100%;
                height:100px;
                border : 1px solid;
                display:flex;
                justify-content: center;
                align-items: center;
                
            }
        }

    }
    
}
