section:nth-child(1){

 
 
}
section:nth-child(1)>.items{
    margin-top : 30px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap : 20px;

}
section:nth-child(1)>.items>.item{
   
    height : 100px;
    border : 1px solid;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(2){
    height : 100%;
}
section:nth-child(2)>.head{}
section:nth-child(2)>.body{}

section:nth-child(2)>.body>.items{
    margin-top : 30px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap : 5px;
}
section:nth-child(2)>.body>.items>.item{
    height : 350px;
   
    border : 1px solid lightgray;
    border-radius: 5px;
    display:flex;
    justify-content : center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    position:relative;
    padding :10px;
    
}
section:nth-child(2)>.body>.items>.item>.top{
    width : 100%;
    position:absolute;
    left:0;
    top:0;
}
section:nth-child(2)>.body>.items>.item>.top>a{
    display:block;
    width : 100%;
    height :200px;
}
section:nth-child(2)>.body>.items>.item>.top>a>img{
    width : 100%;
    height : 100%;
    object-fit: contain;
    border : 1px solid;
    border-radius: 5px;
   
}

section:nth-child(2)>.body>.items>.item>.bottom{
    padding : 10px;
    // border : 1px solid;

    position:absolute;
    bottom : 0;
}
section:nth-child(2)>.body>.items>.item>.bottom>.title{
    font-weight:800;
}
section:nth-child(2)>.body>.items>.item>.bottom>.text{
    font-size : .9rem;
    color :gray;
    margin : 5px auto;
}
section:nth-child(2)>.body>.items>.item>.bottom>.badge{
    padding: 0;
}
section:nth-child(2)>.body>.items>.item>.bottom>.badge>span{
    padding : 0 10px;
    color : black;
    border : 1px solid;
    margin-right:5px;
}
section:nth-child(2)>.body>.items>.item>.bottom>.badge>span:first-child{
    
}
section:nth-child(2)>.body>.items>.item>.bottom>.badge>.price
{
    
}
section:nth-child(2)>.body>.items>.item>.bottom>.price>span:nth-child(1){
    display:block;
    font-weight:600;
    font-size : 1.2rem;
}
section:nth-child(2)>.body>.items>.item>.bottom>.price>span:nth-child(2){

}