    *{
    color:white;
    }
    body{
    margin : 0px;
    padding : 0px; 
    width:100vw;
    height:100vh;
    position:relative;
    
    }

    a{
        text-decoration: none;
    }

    .bg{
        position:absolute;
        left:0px;
        top:0px;
        width:100vw;
        height:100vh;
    
        z-index:-1;
    
        /* background-repeat: no-repeat; */
        object-fit: cover;
    
        
    }


    .wrapper{
            width : 100vw;
            height : 100vh;
            margin: 0 auto;
            padding :2vw;
            
            
            
            
    }

    /*  */
    .wrapper>header{}
    .wrapper>header>.top-header{}
    .wrapper>header>nav{
        height:25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding : 0 1.2vw;
    }

    .wrapper>header>nav .setting-btn{
        width : 35px;
        height : 35px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    
        
    }
    .wrapper>header>nav .material-symbols-outlined{
        font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24;

        font-size:2rem;
    }


    /*  */
    .wrapper>main{}
    .wrapper>main>section{
    }

    .wrapper>main>section>.top{
    display:flex;
    justify-content: center;
    }
    .wrapper>main>section>.top>.left{
        margin-right:1vw;
        width:50%;
        height : 17vh;

    
    }
    .wrapper>main>section>.top>.left>div{
        margin-right:1vw;
    
        
        /* border : 2px solid red; */
        display:flex;
        flex-direction: row;
    
        justify-content: space-between;
        border-bottom : 1px solid ;
        height : 400px;
        /* border : 1px solid; */
    }
    .wrapper>main>section>.top>.left>div>.curdate{
    
        /* border-top : 1px solid; */
    
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .wrapper>main>section>.top>.left>div>.curdate>div:nth-child(1){
        font-size : 10.167vw;
    }
    .wrapper>main>section>.top>.left>div>.curdate>div:nth-child(2){
        font-size:5.083vw;
    }
    .wrapper>main>section>.top>.left>div>.curdate>div:nth-child(3){
        font-size:2.25vw;
    }
    .wrapper>main>section>.top>.left>div>.curweather{
        
        /* border-top : 1px solid; */
    
    }
    .wrapper>main>section>.top>.left>div>.curweather>.icon{
        position:relative;
        display:flex;
        align-items : center;
        
        height:100%;

    }
    .wrapper>main>section>.top>.left>div>.curweather>.icon>.material-symbols-outlined{
        font-size : 10.167vw;
        font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48;

    }
    .wrapper>main>section>.top>.left>div>.curweather>.icon>.temp{
        font-size:4.5vw;
        margin-left:10px;
    }

    .wrapper>main>section>.top>.left>.weeklyweather{
        /* border : 1px solid; */
        padding :5px;
        padding-left:0px;
        border-top : 1px solid;
        
        height : 300px;
    
        
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items{
        display:flex;
        justify-content:space-between;
        align-items: center;
        width : 100%;
        
        overflow-x:auto;
        overflow-y:hidden;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items::-webkit-scrollbar{
    
        height:5px;
        background-color: transparent;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items::-webkit-scrollbar-thumb{
        background-color: lightgray; 
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item{
        font-size:2vw;
        /* border :1px solid; */
        
        

        text-align:center;
        flex-grow: 1;
        margin : 5px;
        
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.top{
        
        height:2vh;
        border-bottom : 1px solid;
        margin-bottom:2px;
        font-size : 1.8vw;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body{}
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.icon{
        height:6vh;
        
        margin-bottom:1vh;
        display:flex;
        justify-content: center;
        align-items: center;
        border-bottom:1px solid;
        

    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.icon>.material-symbols-outlined{
        font-size:4.5vw;
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48;

    
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.rain{
    
        margin-bottom:2px;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        font-size:1.8vw;
        height : 2vh;
        
        
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.rain .material-symbols-outlined{
        font-size:1.8vw;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.temp-maxmin{
        
        font-size:1.3vw;
        padding : .5vh 0;
        
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.temp-maxmin>div{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.temp-maxmin>div>span{
        display:relative;
        margin: 5px;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.temp-maxmin>div>span:nth-child(1)::before{
        content:'MAX';
        display:block;
        
    
        position:relative;
        font-size : .7rem;
        
        position:relative;
        left:0px;
        top:0px;
    }
    .wrapper>main>section>.top>.left>.weeklyweather>.items>.item>.body>.temp-maxmin>div>span:nth-child(2)::before{
        content:'MIN';
        display:block;
    
    
        position:relative;
        font-size : .7rem;
    }

    .wrapper>main>section>.top>.right{
        width:45%;
        height:700px;
        /* border : 1px solid; */
        /* border : 2px solid green; */
        overflow:auto;
    }



    .wrapper>main>section>.top>.right::-webkit-scrollbar{
        display:none;
    }



    .wrapper>main>section>.top>.right>.top{
        display:flex;
        justify-content: left;
        align-items: center;
        height:100px;
        border-bottom : 1px solid;
    }

    .wrapper>main>section>.top>.right>.top>.yoil{
        
        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;
        margin-right:2.010101010101vw;
    }
    .wrapper>main>section>.top>.right>.top>.yoil>.day{
        font-size:2.333vw;
        margin-right:1.010101010101vw;
    }
    .wrapper>main>section>.top>.right>.top>.yoil>.today{
        font-size :1.5vw;
    }
    .wrapper>main>section>.top>.right>.top>.icon{
        
        display:flex;
        justify-content: center;
        align-items: center;

        height:100%;
        font-size:2.25vw;
        margin-right:1.010101010101vw;;
    }
    .wrapper>main>section>.top>.right>.top>.icon>.material-symbols-outlined{
        font-size:2.083vw;
        margin-right:0.5vw;
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;

    }
    .wrapper>main>section>.top>.right>.top>.icon>.temp{
        font-size : 1.25vw;
        font-weight: 600;

    }
    .wrapper>main>section>.top>.right>.top>.temp-maxmin{
        height : 100%;
        font-size : 0.833vw;
        font-weight: 600;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper>main>section>.top>.right>.body{
    
    
    }
    .wrapper>main>section>.top>.right>.body>.items{
        margin-bottom:50px;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item{
    
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:100px;
        border-bottom : 1px solid;
        margin-bottom : 20px;   
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.date{
        height : 100%;
        display:flex;
        align-items: center;

    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.date>.day{
        font-size : 4.75vw;
        margin:15px;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.date>.today{
        font-size : 3vw;
    }

    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.icon{
        height:100%;
        display:flex;
        align-items: center;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.icon .material-symbols-outlined{

        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
        font-size:3.375vw;;
        margin-right:20px;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.icon>.temp{
        font-size : 1.4vw;
    }


    .wrapper>main>section>.top>.right>.body>.items>.item>.weather-info>.temp{}
    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block{

    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule{
        
        height:50px;
        display:flex;
        justify-content: left;
        align-items: center;
        margin-bottom:10px;

        font-size:1.2vw;
    
    }

    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule>*{
        margin-right:50px;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule>.label{
        width:3px;
        height : 100%;
        background-color: red;
    }

    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule:nth-child(2)>.label{
        background-color: green;
    }


    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule>.time{
        font-size:1.8vw;
        width: 100px;
    }
    .wrapper>main>section>.top>.right>.body>.items>.item>.schdule-block>.schdule>.description{
        font-size:1.8vw;
    }


    /* 
        calender 
    */
    .wrapper>main>section>.body{
    
    
        align-items : center;
        margin-top:1vh;
        
    }

    .wrapper>main>section>.body>.datetime-block{
    
        height : 80px;
        margin : 0 auto;
        
        margin-bottom:20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .wrapper>main>section>.body>.datetime-block>div{
        margin-bottom : 10px;
    }
    .wrapper>main>section>.body>.datetime-block>.top-date{
        font-size : 1.2rem;
        letter-spacing: 2px;
    }
    .wrapper>main>section>.body>.datetime-block>.top-hours{
        letter-spacing: 1px;
    }
    .wrapper>main>section>.body>.calender{
    
        margin :0 auto;
        margin-bottom :20px;
        width : 95%;
        height : 50vh;
        overflow : auto;
        margin : 10px auto;
        
    }

    .wrapper>main>section>.body>.calender>.title{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .wrapper>main>section>.body>.calender::-webkit-scrollbar{
        display:none;
    }
    .wrapper>main>section>.body>.calender table{
        position:relative;
        height:80px;
        width : 100%;
    }
    .wrapper>main>section>.body>.calender th,td{
        position:relative;
        height : 45px;
        
        text-align:center;
        font-size:1.2rem;
    }
    .wrapper>main>section>.body>.calender td{
        height:250px;
        border-top : 1px solid;
        overflow:auto;
        
    }


    .wrapper>main>section>.body>.calender>table .rest-day{
        color : rgb(160, 2, 2);
        position:relative;    
    }

    .wrapper>main>section>.body>.calender>table th{
    border-top : 1px solid;
    }
    .wrapper>main>section>.body>.calender>table td::after
    {
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        
        background-color: white;
        opacity: .1;
        border : 1px solid;
        display:block;
    }

    .wrapper>main>section>.body>.calender>table td.rest-day::after{
        content:'';
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;

        background-color: rgb(160, 2, 2);
        opacity: .1;
        border : 1px solid;
        display:block;
    }



    .wrapper>main>section>.body>.calender>table .d-day{
        background-color: lightcoral;
        border-radius: 50%;

        color:white;
    }

    .wrapper>main>section>.body>.bottom{}

    .wrapper>main>section>.body>.bottom>.bottom-header{
        display:flex;
        justify-content: center;
        margin-bottom:20px;
    }
    .wrapper>main>section>.body>.bottom>.bottom-header>div{
        width : 50px;
        height : 50px;
        border-radius: 5px;
        border : 1px solid lightgray;
        margin : 10px;

        position:relative;

        display:flex;
        justify-content: center;
        align-items: start;
        padding-top:5px;
        
    }
    .wrapper>main>section>.body>.bottom>.bottom-header>div::after{
        content : ":";

        display:block;
        position:absolute;
        left:120%;
        top:25%;
    }
    .wrapper>main>section>.body>.bottom>.bottom-header>div:last-child::after{
        display:none;

    }

    .wrapper>main>section>.body>.bottom>.bottom-header>div:before{
    
        display:block;
        width:100%;
        /* border : 1px solid gray; */
        position:absolute;
        left:0px;
        top:55%;
        font-size:0.6rem;
        color:gray;
        opacity: 0.8;
    }


    main>section:nth-child(4)>.bottom>.bottom-header>.day{}
    main>section:nth-child(4)>.bottom>.bottom-header>.hours{}
    main>section:nth-child(4)>.bottom>.bottom-header>.min{}
    main>section:nth-child(4)>.bottom>.bottom-header>.sec{}

    main>section:nth-child(4)>.bottom>.bottom-body{}


    /*  */
    .wrapper>footer{}