.login-section{
    height : 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    position:relative;

    
    form{

        width : 300px;
      
        border:1px solid;
        border-radius: 5px;
        padding : 15px;
    
        label{
            font-size:.9rem;
        }
        &>*{
            margin-bottom : 15px;
        }

        div.title{
            h1{
                text-align: center;
            }
        }

        div.find{
            display:flex;
            justify-content: right;
            align-items: center;
            gap:10px;
            font-size : .9rem;
        }
    }
    
    
}